---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import IntroKeramiker_pia from "../components/IntroKeramiker_pia.astro";
import IntroKeramiker_clayform from "../components/IntroKeramiker_clayform.astro";
import IntroKeramiker_clibklap from "../components/IntroKeramiker_clibklap.astro";
import IntroKeramiker_helle from "../components/IntroKeramiker_helle.astro";
import IntroKeramiker_mark from "../components/IntroKeramiker_mark.astro";
import ProduktListe from "../components/ProduktListe.astro";
import IndexDesignere from "../components/IndexDesignere.astro";
import Keramikere from "../components/Keramikere.astro";
import { Debug } from "astro/components";
import Produktkort from "../components/Produktkort.astro";

const url = "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/shop";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g",
  },
};

const response = await fetch(url, options);
const alleProdukter = await response.json();

const Mark = alleProdukter.filter((produkter) => produkter.designer == "Mark Lauberg");
const Pia = alleProdukter.filter((produkter) => produkter.designer == "Pia Lund");
const ClibKlap = alleProdukter.filter((produkter) => produkter.designer == "ClibKlap");
const Helle = alleProdukter.filter((produkter) => produkter.designer == "Helle Hansen");
const Clayform = alleProdukter.filter((produkter) => produkter.designer == "Clayform");
---

<Header />
<Keramikere />
<IndexDesignere />

<main>
  <IntroKeramiker_mark
    brand="MARK LAUBERG"
    beskrivelse="Mark Lauberg har været keramiker og designer i mere end 30 år, og er medejer af keramiker fællesskabet Viktoria Ceramic Studio. I dag laver han bl.a. kunsthåndværk med et nordisk og minimalistisk udtryk"
  />
  <ProduktListe indhold={Mark} filter="Mark Lauberg" />
  <IntroKeramiker_pia
    brand="PIA LUND"
    beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio. Udtrykket i Pia Lunds arbejde er nordisk og æstetisk. Hun udfører håndværk af høj kvalitet, smukke farvekombinationer og et sanseligt formsprog."
  />
  <ProduktListe indhold={Pia} filter="Pia Lund" />
  <IntroKeramiker_clibklap
    brand="CLIBKLAP"
    beskrivelse="Iben Harboe er medstifter af brandet CLIBKLAP og medejer af keramiker fællesskabet Viktoria Ceramic Studio. Med kollektionen CLIBKLAP ønsker Iben og hendes partner at videregive kunsthåndværk med liv og sanselighed, så kunderne får en fornemmelse af materialet og hånden bag, som understreger ordet ”håndlavet”."
  />
  <ProduktListe indhold={ClibKlap} filter="ClibKlap" />
  <IntroKeramiker_helle
    brand="HELLE HANSEN"
    beskrivelse="Helles inspiration i hendes arbejde som keramiker kommer fra en sejltur for 10 år siden, hvor hun lavede et sæt dogmer, der gjorde det muligt at lave keramik på et vuggende skib. De seneste år har Helle tilføjet stentøj til sin kollektion og udviklet en silkemat glasur med lava, der er med til at give hendes arbejde dets unikke udseende."
  />
  <ProduktListe indhold={Helle} filter="Helle Hansen" />
  <IntroKeramiker_clayform
    brand="CLAYFORM"
    beskrivelse="Signe Bailey er grundlægger af Clayform og medejer af Viktoria Ceramic Studio. Signe producerer unikke designobjekter, der både har et funktionelt formål og påvirker rummet omkring dem med deres æstetik."
  />
  <ProduktListe indhold={Clayform} filter="Clayform" />
</main>

<Footer />

<style>
  @media (min-width: 1000px) {
    .liste {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
