---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import IntroKeramiker from "../components/IntroKeramiker.astro";
import ProduktListe from "../components/ProduktListe.astro";
import IndexDesignere from "../components/IndexDesignere.astro";
import Keramikere from "../components/Keramikere.astro";
import { Debug } from "astro/components";
import Produktkort from "../components/Produktkort.astro";

const url = "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/shop";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g",
  },
};

// const response = await fetch(url, {
//   method: "GET",
//   headers: {
//     apikey: key,
//     Accept: "application/json",
//     "Content-Type": "application/json",
//   },
// });

// const produkter = await response.json();

const response = await fetch(url, options);
const alleProdukter = await response.json();

const Mark = alleProdukter.filter((produkter) => produkter.designer == "Mark");
const Pia = alleProdukter.filter((produkter) => produkter.designer == 2);
const ClipKlap = alleProdukter.filter((produkter) => produkter.designer == 3);
const Helle = alleProdukter.filter((produkter) => produkter.designer == 3);
const Clayform = alleProdukter.filter((produkter) => produkter.designer == "Clayform");
---

<Header />
<Keramikere />
<IndexDesignere />
<IntroKeramiker brand="PIA LUND" navn="PIA LUND" beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio." />

<main>
  <ProduktListe indhold={Mark} filter="Mark Lauberg" />
  <ProduktListe indhold={Pia} filter="Pia Lund" />
  <ProduktListe indhold={ClipKlap} filter="ClipKlap" />
  <ProduktListe indhold={Helle} filter="Helle Hansen" />
  <ProduktListe indhold={Clayform} filter="Clayform" />
  <!-- {Andre.length > 0 && <Sektion indhold={Andre} filter="Andre" />} -->
</main>

<Footer />

<style>
  main {
    padding: 1em;
  }

  @media (min-width: 1000px) {
    .liste {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
