---
import Footer from "../components/Footer.astro";
import "../style/mutual.css";
import Header from "../components/Header.astro";
import IntroKeramiker_pia from "../components/IntroKeramiker_pia.astro";
import IntroKeramiker_clayform from "../components/IntroKeramiker_clayform.astro";
import IntroKeramiker_clibklap from "../components/IntroKeramiker_clibklap.astro";
import IntroKeramiker_helle from "../components/IntroKeramiker_helle.astro";
import IntroKeramiker_mark from "../components/IntroKeramiker_mark.astro";
import ProduktListe from "../components/ProduktListe.astro";
import IndexDesignere from "../components/IndexDesignere.astro";
import Keramikere from "../components/Keramikere.astro";
import { Debug } from "astro/components";
import Produktkort from "../components/Produktkort.astro";

const url = "https://yetmrunotjrgzgmcchxy.supabase.co/rest/v1/shop";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldG1ydW5vdGpyZ3pnbWNjaHh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MjE2MjksImV4cCI6MTk5NDI5NzYyOX0.3nyW3iCZSlvah2mVwALnccNLM39VwIq4g5xXUpR9L5g",
  },
};

// const response = await fetch(url, {
//   method: "GET",
//   headers: {
//     apikey: key,
//     Accept: "application/json",
//     "Content-Type": "application/json",
//   },
// });

// const produkter = await response.json();

const response = await fetch(url, options);
const alleProdukter = await response.json();

const Mark = alleProdukter.filter((produkter) => produkter.designer == "Mark Lauberg");
const Pia = alleProdukter.filter((produkter) => produkter.designer == "Pia Lund");
const ClibKlap = alleProdukter.filter((produkter) => produkter.designer == "ClibKlap");
const Helle = alleProdukter.filter((produkter) => produkter.designer == "Helle Hansen");
const Clayform = alleProdukter.filter((produkter) => produkter.designer == "Clayform");
---

<Header />
<Keramikere />
<IndexDesignere />


<main>
  <IntroKeramiker_mark brand="MARK LAUBERG" beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio." />
  <ProduktListe indhold={Mark} filter="Mark Lauberg" />
  <IntroKeramiker_pia brand="PIA LUND" beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio." />
  <ProduktListe indhold={Pia} filter="Pia Lund" />
  <IntroKeramiker_clibklap brand="CLIBKLAP" beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio." />
  <ProduktListe indhold={ClibKlap} filter="ClibKlap" />
  <IntroKeramiker_helle brand="HELLE HANSEN" beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio." />
  <ProduktListe indhold={Helle} filter="Helle Hansen" />
  <IntroKeramiker_clayform brand="CLAYFORM" beskrivelse="Pia Lund er uddannet fra Designskolen Kolding i 2006 og stifter bag brandet Pia Lund Ceramics. Siden da har Pia været en del af keramiker fællesskabet Viktoria Ceramic Studio." />
  <ProduktListe indhold={Clayform} filter="Clayform" />
  <!-- {Andre.length > 0 && <Sektion indhold={Andre} filter="Andre" />} -->
</main>

<Footer />

<style>
 

  @media (min-width: 1000px) {
    .liste {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
