---
const { image, designer, data, tekst, overskrift, pris, link, aktiv } = Astro.props;
console.log(data);
---

<a href={link}>
  <article>
    <img src={image} alt="image" />
    <div class="div1">
      <h2>{overskrift}</h2>
      <h3>{designer}</h3>
      <h3>{pris} <span>DKK</span></h3>
      <!-- <p>{tekst}</p> -->
      <button>SHOP NU</button>
    </div>
  </article>
</a>

<style>
  img {
    width: 100%;
  }

  button {
    font-family: "commuters-sans", sans-serif;
    font-size: 15px;
    margin: 20px;
    width: 200px;
    border: none;
    background-color: #977A15;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  button:hover {
    background-color: whitesmoke;
    color: #977A15;
    cursor: pointer;
  }

  .div1 {
    display: grid;
    justify-items: center;
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-family: "commuters-sans", sans-serif;
    font-size: 25px;
    padding-bottom: 10px;
    color: black;
    padding-top: 22px;
  }

  h3 {
    font-family: "commuters-sans", sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: grey;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 1.5em;
  }

  @media (min-width: 1000px) {
    img {
      width: 100%;
    }

    .div1 {
      display: grid;
      justify-items: center;
    }

    a {
      text-decoration: none;
    }

    h2 {
      font-family: "commuters-sans", sans-serif;
      font-size: 25px;
      padding-bottom: 10px;
      color: black;
    }

    h3 {
      font-family: "commuters-sans", sans-serif;
      font-size: 18px;
      padding-bottom: 10px;
      color: grey;
    }

    p {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      padding-bottom: 10px;
      line-height: 1.5em;
    }
  }
</style>
