---
const { navn, designer, pris, overskrift, image, tekst } = Astro.props;





// function hentData() {
//   fetch(url)
//   .then((respons) => respons.json())
//   .then(visProdukt);
// }


// function visProdukt(shop) {
//   console.log(shop);
//   document.querySelector(".overskrift").textContent = shop.overskrift;
}
// const response = await fetch(url, options);
// const data = await response.json();

---

<!-- <section class="produkt">
  <img src="/images/pia_1.jpg" alt="" />
  <h4>{navn}</h4>
  <p>{pris}</p>
  <button>SHOP NU</button>
  <hr />
</section> -->

<!-- <section>
  <img src="./produkt_billeder/pialund1.webp" alt="">
  <h2>{overskrift}</h2>
  <h3>{designer}</h3>
  <h4>{pris}</h4>
  <button>SHOP NU</button>
  <hr />
</section> -->

<article class="testimonial-container">
    
  <div class="border">
    <h2 class="overskrift">{overskrift}</h2>
    <p>{designer}</p>
    <h3>{pris}</h3>
  </div>
       
</article>

<style>
  img {
    width: 100%;
    padding: 30px;
  }

  h4 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    margin: 20px;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
  }

  button {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    margin: 20px;
    width: 200px;
    border: none;
    background-color: #343333;
    color: white;
    padding: 10px;
  }

  .produkt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
  }
</style>
