---
const { designer, pris, overskrift, image, tekst, produkter, indhold, filter } = Astro.props;
import Produktkort from "../components/Produktkort.astro";

---


<section>
  {
    indhold.map((produkter) => (
      <Produktkort
        aktiv={produkter.aktiv}
        link={"/personer/" + produkter.slug}
        produktbillede={`/thumbs/${produkter.image}`}
        overskrift={produkter.overskrift}
        designer={produkter.designer}
        pris={produkter.pris}
        tekst={produkter.tekst}
      />
    ))
  }
</section>


<style>
  img {
    width: 100%;
    padding: 30px;
  }

  h4 {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    margin: 20px;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px;
  }

  button {
    font-family: "commuters-sans", sans-serif;
    font-size: 20px;
    margin: 20px;
    width: 200px;
    border: none;
    background-color: #343333;
    color: white;
    padding: 10px;
  }

  .produkt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 45px;
  }
</style>
